@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1>Text Tool Kit</h1>
    <br />
    <br />
    <p><b>This application allows you to search,<br> modify, and get a detailed anaylsis on your submitted text.</b></p>
    <p><b>Select a module at the top to begin.</b></p>
</div>
