@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url(../Images/HomePagePic.png); background-repeat: no-repeat; background-size: cover; ">
    <!--<div class="text-center">-->
        <div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1><u>Text Tool Kit</u></h1>
            <br />
            <br />
            <p><b>This application allows you to search,<br> modify, and get a detailed anaylsis on your submitted text.</b></p>
            <p><b>Select a module at the top to begin.</b></p>
        </div>
</body>