@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url(../Images/HomePagePic.png); background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover; ">
    <!--<div class="text-center">-->
    <div style="color: #0000b3; padding-top: 300px;">
        <p style="font-size:70px"><b>Text Tool Kit</b></p>
        <br />
        <p style="font-size:30px">
            Select a module at the top to run a detailed<br />
            anaylsis, perform a search, or choose from a<br />
            variety of modification options, all on your<br />
            text entry of choice.
        </p>
    </div>
</body>

<!-- style="color: #4ab5b1" for bootstrap info
     style="color: #0073e6" for bootstrap primary
     style="color: #0000b3" for app dark blue -->
