@*
    Entry Field and submission buttons will go here
*@
@model ModifyModel
@using (Html.BeginForm("FormModify", "Home", FormMethod.Post))
{
<table cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2" align="center">Enter Text for Modification</th>
    </tr>
    <tr>
        <td>@Html.TextAreaFor(m => m.UserModEntry, new { style = "width:600px; height:150px;" })</td>
    </tr>
    <tr>
        <td style="font-size:small;color:red;">* Your entry can not be empty and must contain at least one letter, number, or special character.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Remove Item from Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Replace Item in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Order All Characters in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Reverse Entire Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Capitalize All Letters in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Lowercase All Letters Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Order All Words in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Reverse Each Word in Text" /></td>
    </tr>
    <tr>
        <td><input type="submit" style="width: 330px; text-align: left;" name="command" value="Capitalize First Letter of Each Word in Text" /></td>
    </tr>
</table>
}

<br />

<table cellpadding="0" cellspacing="0" style="border-top: thin solid black;width:100%">
    <tr>
        <td style="font-size:small">*Remove and replace modifications are case sensitive.</td>
    </tr>
    <tr>
        <td style="font-size:small;">*When ordering all characters, if spaces are included, the spaces will be ordered to the front of the modified entry.</td>
    </tr>
    <tr>
        <td style="font-size:small;">*Words are counted as characters before a space or ending punctuation ( .!?,;: ).</td>
    </tr>
    <tr>
        <td style="font-size:small;">*For ordering words, reversing each word, and capitalizing first letter of each word, all ending punctuations will be removed.</td>
    </tr>
</table>