@*
    Entry for removal item goes here, along with submission
*@
@model ModifyModel

    <style type="text/css">
        .picture {
            background-image: url(../Images/HomePagePic.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            position: fixed;
            height: 100px;
            width: 100%;
        }
    </style>

    <div class="picture" style="left:0">
    </div>
    <div style="padding-top:130px; padding-bottom:60px">
        <h4><u><b>Modify: Removal Entry</b></u></h4>
        <br />
        <br />
        <h6><b>Text Entry:</b></h6>

        <table class="table table-bordered" style="height:150px; background-color:lightgrey;">
            <tr>
                <td>@ViewBag.UserModEntry</td>
            </tr>
        </table>
        <br />

        @using (Html.BeginForm("FormModify", "Home", FormMethod.Post))
        {
            <table cellpadding="0" cellspacing="0">
                <tr hidden>
                    <th colspan="2" align="center">Enter Text for Modification</th>
                </tr>
                <tr hidden>
                    <td>@Html.TextAreaFor(m => m.UserModEntry, new { style = "width:600px; height:150px;" })</td><!--This is being overriden in Controller to the ModifiedText, if there is one-->
                </tr>
                <tr hidden>
                    <td><input type="hidden" name="modified" value="@ViewBag.UserModEntry" /></td>
                </tr>
                <tr>
                    <th colspan="2" align="center">Enter Character(s) to Remove From Text</th>
                </tr>
                <tr>
                    <td>@Html.TextAreaFor(m => m.UserRemoveItem, new { style = "width:600px; height:30px;" })</td>
                </tr>
                <tr>
                    <td style="font-size: small; background-color: yellow;">* Your entry can not be empty and must contain at least one letter, number, or special character.</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="submit" name="command" value="Remove" /></td>
                </tr>
            </table>
        }
        <br />
        <table cellpadding="0" cellspacing="0" style="border-top: thin solid black;width:100%">
            <tr>
                <td style="font-size:small">*Remove and replace modifications are case sensitive.</td>
            </tr>
        </table>
    </div>
    <div class="picture" style=" bottom:0; left:0">
    </div>