@*
    New entry for search item goes here, along with submission
*@
@model SearchModel

<h6><b>Text Entry:</b></h6>

<table class="table table-bordered" style = "height:150px; background-color:lightgrey;">
    <tr>
        <td>@ViewBag.UserTextEntry</td>
    </tr>
</table>
<br />

@using (Html.BeginForm("FormSearch", "Home", FormMethod.Post))
{
<table cellpadding="0" cellspacing="0">
    <tr hidden>
        <th colspan="2" align="center">Enter Text for Search</th>
    </tr>
    <tr hidden>
        <td>@Html.TextAreaFor(m => m.UserTextEntry, new { style = "width:600px; height:150px;"})</td>
    </tr>
    <tr>
        <th colspan="2" align="center">Enter New Item to Search for in Text</th>
    </tr>
    <tr>
        <td>@Html.TextAreaFor(m => m.UserSearchItem, new { style = "width:600px; height:30px;" })</td>
    </tr>
    <tr>
        <td style="font-size:small;color:red;">* Your entry can not be empty and must contain at least one letter, number, or special character.</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><input type="submit" value="Submit" /></td>
    </tr>
</table>
}
